.register {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0, auto;
  padding-top: 1.5rem;
}

.button1 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2.5em;
}

.headerFront {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  color: rgb(4, 4, 180);
  margin-bottom: 1em;
}
